.hero {
  color: var(--accent);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.428)),
    url("../public/home header.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero .bt {
  margin-bottom: 3%;
  background-color: var(--accent);
  color: var(--primary);
}
.hero .bt:hover {
  color: var(--accent);
  background-color: var(--primary);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  height: 200px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.product-card:hover .product-image img {
  transform: scale(1.1);
}

.product-info {
  padding: 1.5rem;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--dark);
}

.product-description {
  color: black;
}

.product-origin {
  color: var(--primary);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--primary);
  margin: 1rem 0;
}

.add-to-cart {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.about {
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  background: var(--accent);
  color: var(--primary);
  padding: 5%;
}

.about-content .bt {
  background-color: var(--accent);
  color: var(--primary);
}

.testimonial-section {
  display: flex;
  gap: 2rem;
}

.testimonial-card {
  text-align: center;
  background-color: var(--accent);
  color: var(--primary);
  padding: 2rem;
  border-radius: 10px;
}

.testimonial-card > img {
  max-width: 10rem;
  border-radius: 10px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial-author {
  font-weight: bold;
}
